In [1]:
 import pyTigerGraph as tg
 from pyTigerGraph import gsql
 import pandas as pd

conn = tg.TigerGraphConnection(host="https://localhost")
shell = gsql.Gsql(conn, certNeeded=False)

In [2]:
print(shell.gsql("DROP ALL", options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
Other operation is running, try to lock the catalog, timeout in 600 seconds ...
Dropping all, about 1 minute ...
Abort all active loading jobs

Shutdown restpp gse gpe ...
Graph store /home/tigergraph/tigergraph/gstore/0/ has been cleared!
Everything is dropped.

In [3]:
businesses = pd.read_csv("yelp-normalization/out/business_0.01.csv", nrows=5)
categories = pd.read_csv("yelp-normalization/out/categories_0.01.csv", nrows=5)
reviews = pd.read_csv("yelp-normalization/out/reviews_0.01.csv", nrows=5)
users = pd.read_csv("yelp-normalization/out/users_0.01.csv", nrows=5)
friendships = pd.read_csv("yelp-normalization/out/friendships_0.01.csv", nrows=5)

In [4]:
businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,is_open
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,True
1,Yzvjg0SayhoZgCljUJRF9Q,Carlos Santo NMD,8880 E Via Linda Ste 107,Scottsdale,AZ,85258,33.569404,-111.890264,5.0,True
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,True
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,False
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,True

In [5]:
print(shell.gsql("CREATE VERTEX Business (PRIMARY_ID Id STRING, Name STRING, Address STRING, Latitude DOUBLE, Longitude DOUBLE, Stars DOUBLE, Is_Open BOOL, Testing BOOL, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>)", options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type Business is created.

In [6]:
print(shell.gsql("CREATE VERTEX City (PRIMARY_ID Name STRING, Name STRING)", options=[]))
print(shell.gsql("CREATE VERTEX State (PRIMARY_ID Name STRING, Name STRING)", options=[]))
print(shell.gsql("CREATE VERTEX Zip (PRIMARY_ID Code STRING, Code STRING)", options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type City is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type State is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type Zip is created.

In [7]:
print(shell.gsql('CREATE DIRECTED EDGE zipInCity (FROM Zip, TO City) WITH REVERSE_EDGE="cityHasZip"', options=[]))
print(shell.gsql('CREATE DIRECTED EDGE zipInState (FROM Zip, TO State) WITH REVERSE_EDGE="stateHasZip"', options=[]))
print(shell.gsql('CREATE DIRECTED EDGE cityInState (FROM City, TO State) WITH REVERSE_EDGE="stateHasCity"', options=[]))
print(shell.gsql('CREATE DIRECTED EDGE businessInZip (FROM Business, TO Zip) WITH REVERSE_EDGE="zipHasBusiness"', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type zipInCity is created.
The reverse edge type cityHasZip is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type zipInState is created.
The reverse edge type stateHasZip is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type cityInState is created.
The reverse edge type stateHasCity is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type businessInZip is created.
The reverse edge type zipHasBusiness is created.

In [8]:
categories

              business_id          category
0  f9NumwFMBDn751xgFiRbNA       Active Life
1  f9NumwFMBDn751xgFiRbNA  Gun/Rifle Ranges
2  f9NumwFMBDn751xgFiRbNA       Guns & Ammo
3  f9NumwFMBDn751xgFiRbNA          Shopping
4  Yzvjg0SayhoZgCljUJRF9Q  Health & Medical

In [9]:
print(shell.gsql("CREATE VERTEX Category (PRIMARY_ID Name STRING, Name STRING)", options=[]))
print(shell.gsql('CREATE DIRECTED EDGE businessInCategory (FROM Business, TO Category) WITH REVERSE_EDGE="categoryHasCompany"', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type Category is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type businessInCategory is created.
The reverse edge type categoryHasCompany is created.

In [10]:
reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,09qxjFi4abaW66JeSLazuQ,mbdtyUUzZZx5ld1Qc4iGtQ,wkzWdo1mBqbzR2KPoXtWZw,4.0,1,0,0,Was a Chicago style deep dish. Homemade type ...,2010-08-21 01:19:17
1,-cRD6URpwks2GvP6qy8x4Q,6UR0kNe3C-ivlF2x1fPHNQ,WUmosjOxt_8nWByHgm8Kkg,5.0,0,0,0,Who knew?\n \nI did! \n\nI remember eating man...,2011-01-08 23:13:25
2,xFjo0v7PmYWZRI3tK2WPuA,jqEbD-d5iI5nrwhfMmX_5w,8OeHn9KCbICuRBs_XiDDUA,4.0,1,0,0,Happy to give a strong recommendation to this ...,2013-06-24 04:49:52
3,641ca8i5v5RZK9IngojV2Q,xFSLb_pxXta5G4oaRB1ylQ,TspQ9jCczz436RiJHJQYZw,5.0,4,3,3,Hands down the BEST kabobs in Vegas. \n\nI sto...,2016-03-06 23:58:31
4,Wj2scpb-B5i58fZbyzpE5A,UER4m0CBVgcFlVbMqhCvCg,upSPwM6Fr6RHAhwagnleow,5.0,18,8,12,I normally don't bother with dealing health st...,2012-03-30 00:46:54

In [11]:
print(shell.gsql("CREATE VERTEX Review (PRIMARY_ID ReviewID STRING, Stars DOUBLE, Useful INT, Funny INT, Cool INT, Text STRING, DateOfReview DATETIME, Testing BOOL, Features LIST<DOUBLE>)", options=[]))

print(shell.gsql('CREATE DIRECTED EDGE reviewOfBusiness (FROM Review, TO Business) WITH REVERSE_EDGE="businessHasReview"', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type Review is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type reviewOfBusiness is created.
The reverse edge type businessHasReview is created.

In [12]:
users

,user_id,name,yelping_since,useful,funny,cool,fans
0,ntlvfPzc8eglqvk92iDIAw,Rafael,2007-07-06 03:27:11,628,225,227,14
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,2008-04-28 01:29:25,790,316,400,27
2,zZUnPeh2hEp0WydbAZEOOg,Martin,2008-08-28 23:40:05,151,125,103,5
3,QaELAmRcDc5TfJEylaaP8g,John,2008-09-20 00:08:14,233,160,84,6
4,xvu8G900tezTzbbfqmTKvA,Anne,2008-08-09 00:30:27,1265,400,512,78

In [13]:
print(shell.gsql("CREATE VERTEX User (PRIMARY_ID UserID STRING, Name STRING, OnYelpSince DATETIME, Useful INT, Funny INT, Cool INT, Fans INT, Testing BOOL, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>)", options=[]))
print(shell.gsql('CREATE DIRECTED EDGE userReview (FROM User, TO Review) WITH REVERSE_EDGE="wroteReview"', options=[]))
print(shell.gsql('CREATE DIRECTED EDGE userVisited (FROM User, TO Business) WITH REVERSE_EDGE="businessHadUser"', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The vertex type User is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type userReview is created.
The reverse edge type wroteReview is created.

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type userVisited is created.
The reverse edge type businessHadUser is created.

In [14]:
friendships

                  user_id               friend_id
0  ntlvfPzc8eglqvk92iDIAw  CIZGlEw-Bp0rmkP8M6yQ9Q
1  ntlvfPzc8eglqvk92iDIAw  mJLRvqLOKhqEdkgt9iEaCQ
2  ntlvfPzc8eglqvk92iDIAw  IkRib6Xs91PPW7pon7VVig
3  ntlvfPzc8eglqvk92iDIAw  deL6e_z9xqZTIODKqnvRXQ
4  FOBRPlBHa3WPHFB5qYDlVg  PeLGa5vUR8_mcsn-fn42Jg

In [15]:
print(shell.gsql('CREATE UNDIRECTED EDGE friendsWith (FROM User, TO User)', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
The edge type friendsWith is created.

In [16]:
print(shell.gsql('ls', options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql
---- Global vertices, edges, and all graphs
Vertex Types:
  - VERTEX Business(PRIMARY_ID Id STRING, Name STRING, Address STRING, Latitude DOUBLE, Longitude DOUBLE, Stars DOUBLE, Is_Open BOOL, Testing BOOL, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX City(PRIMARY_ID Name STRING, Name STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX State(PRIMARY_ID Name STRING, Name STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX Zip(PRIMARY_ID Code STRING, Code STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX Category(PRIMARY_ID Name STRING, Name STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX Review(PRIMARY_ID ReviewID STRING, Stars DOUBLE, Useful INT, Funny INT, Cool INT, Text STRING, DateOfReview DATETIME, Testing BOOL, Features LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE"
  - VERTEX User(PRIMARY_ID UserID STRING, Name STRING, OnYelpSince DATETIME, Useful INT, Funny INT, Cool INT, Fans INT, Testing BOOL, Features LIST<DOUBLE>, Embedding LIST<DOUBLE>) WITH STATS="OUTDEGREE_BY_EDGETYPE"
Edge Types:
  - DIRECTED EDGE zipInCity(FROM Zip, TO City) WITH REVERSE_EDGE="cityHasZip"
  - DIRECTED EDGE cityHasZip(FROM City, TO Zip) WITH REVERSE_EDGE="zipInCity"
  - DIRECTED EDGE zipInState(FROM Zip, TO State) WITH REVERSE_EDGE="stateHasZip"
  - DIRECTED EDGE stateHasZip(FROM State, TO Zip) WITH REVERSE_EDGE="zipInState"
  - DIRECTED EDGE cityInState(FROM City, TO State) WITH REVERSE_EDGE="stateHasCity"
  - DIRECTED EDGE stateHasCity(FROM State, TO City) WITH REVERSE_EDGE="cityInState"
  - DIRECTED EDGE businessInZip(FROM Business, TO Zip) WITH REVERSE_EDGE="zipHasBusiness"
  - DIRECTED EDGE zipHasBusiness(FROM Zip, TO Business) WITH REVERSE_EDGE="businessInZip"
  - DIRECTED EDGE businessInCategory(FROM Business, TO Category) WITH REVERSE_EDGE="categoryHasCompany"
  - DIRECTED EDGE categoryHasCompany(FROM Category, TO Business) WITH REVERSE_EDGE="businessInCategory"
  - DIRECTED EDGE reviewOfBusiness(FROM Review, TO Business) WITH REVERSE_EDGE="businessHasReview"
  - DIRECTED EDGE businessHasReview(FROM Business, TO Review) WITH REVERSE_EDGE="reviewOfBusiness"
  - DIRECTED EDGE userReview(FROM User, TO Review) WITH REVERSE_EDGE="wroteReview"
  - DIRECTED EDGE wroteReview(FROM Review, TO User) WITH REVERSE_EDGE="userReview"
  - DIRECTED EDGE userVisited(FROM User, TO Business) WITH REVERSE_EDGE="businessHadUser"
  - DIRECTED EDGE businessHadUser(FROM Business, TO User) WITH REVERSE_EDGE="userVisited"
  - UNDIRECTED EDGE friendsWith(FROM User, TO User)

Graphs:
Jobs:


JSON API version: v2
Syntax version: v1

In [17]:
print(shell.gsql("CREATE GRAPH Yelp(Business, City, Zip, State, Category, Review, User, zipInCity, cityHasZip, zipInState, stateHasZip, cityInState, stateHasCity, businessInZip, zipHasBusiness, businessInCategory, categoryHasCompany, reviewOfBusiness, businessHasReview, userReview, wroteReview, userVisited, businessHadUser, friendsWith)", options=[]))

========================
Trying version: v2_6_0
Connecting to localhost:14240
If there is any relative path, it is relative to tigergraph/dev/gdk/gsql

Restarting gse gpe restpp ...

Finish restarting services in 27.572 seconds!
The graph Yelp is created.

In [18]:
conn = tg.TigerGraphConnection(host="http://localhost", graphname="Yelp")

In [19]:
businesses = pd.read_csv("yelp-normalization/out/business_0.01.csv")
businesses.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,is_open
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,True
1,Yzvjg0SayhoZgCljUJRF9Q,Carlos Santo NMD,8880 E Via Linda Ste 107,Scottsdale,AZ,85258,33.569404,-111.890264,5.0,True
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,True
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,False
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,True

In [20]:
import random
testingPercent = .2

def trainOrTest():
    return random.uniform(0, 1) < testingPercent

In [21]:
def upsertBusinesses(row):
    attributes = {
            "Name": row["name"],
            "Address": row["address"],
            "Latitude": row["latitude"],
            "Longitude": row["longitude"],
            "Stars": row["stars"],
            "Is_Open": row["is_open"],
            "Testing": trainOrTest()
        }
    try:       
        conn.upsertVertex("Business", row["business_id"], attributes)
    except:
        pass
    conn.upsertEdge("Business", row["business_id"], "businessInZip", "Zip", row["postal_code"])

In [22]:
def upsertZips(row):
    attributes = {"Code", row["postal_code"]}
    conn.upsertVertex("Zip", row["postal_code"], attributes)

    conn.upsertEdge("Zip", row["postal_code"], "zipInCity", "City", row["city"])
    conn.upsertEdge("Zip", row["postal_code"], "zipInState", "State", row["state"])

In [23]:
def upsertStates(row):
    attributes = {"Name": row["name"]}
    conn.upsertVertex("State", row["state"], attributes)
    conn.upsertEdge("City", row["city"], "cityInState", "State", row["state"])

In [24]:
def upsertCities(row):
    attributes = {"Name": row["city"]}
    conn.upsertVertex("City", row["city"], attributes)

In [25]:
businesses.apply(lambda row : upsertCities(row), axis=1)
businesses.apply(lambda row : upsertStates(row), axis=1)
businesses.apply(lambda row : upsertZips(row), axis=1)
businesses.apply(lambda row: upsertBusinesses(row), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
2087    None
2088    None
2089    None
2090    None
2091    None
Length: 2092, dtype: object

In [26]:
categories = pd.read_csv("yelp-normalization/out/categories_0.01.csv")
categories.head()

              business_id          category
0  f9NumwFMBDn751xgFiRbNA       Active Life
1  f9NumwFMBDn751xgFiRbNA  Gun/Rifle Ranges
2  f9NumwFMBDn751xgFiRbNA       Guns & Ammo
3  f9NumwFMBDn751xgFiRbNA          Shopping
4  Yzvjg0SayhoZgCljUJRF9Q  Health & Medical

In [27]:
def upsertCategories(row):
    attributes = {"Name": row["category"]}
    conn.upsertVertex("Category", row["category"], attributes)
    conn.upsertEdge("Business", row["business_id"], "businessInCategory", "Category", row["category"])

In [28]:
categories.apply(lambda row: upsertCategories(row), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
8691    None
8692    None
8693    None
8694    None
8695    None
Length: 8696, dtype: object

In [29]:
users = pd.read_csv("yelp-normalization/out/users_0.01.csv")
users.head()

,user_id,name,yelping_since,useful,funny,cool,fans
0,ntlvfPzc8eglqvk92iDIAw,Rafael,2007-07-06 03:27:11,628,225,227,14
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,2008-04-28 01:29:25,790,316,400,27
2,zZUnPeh2hEp0WydbAZEOOg,Martin,2008-08-28 23:40:05,151,125,103,5
3,QaELAmRcDc5TfJEylaaP8g,John,2008-09-20 00:08:14,233,160,84,6
4,xvu8G900tezTzbbfqmTKvA,Anne,2008-08-09 00:30:27,1265,400,512,78

In [30]:
def upsertUsers(row):
    attributes = {
        "Name": row["name"],
        "OnYelpSince": row["yelping_since"],
        "Useful": row["useful"],
        "Funny": row["funny"],
        "Cool": row["cool"],
        "Fans": row["fans"],
        "Testing": trainOrTest()
    }
    conn.upsertVertex("User", row["user_id"], attributes)

In [31]:
users.apply(lambda row: upsertUsers(row), axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
19681    None
19682    None
19683    None
19684    None
19685    None
Length: 19686, dtype: object

In [32]:
reviews = pd.read_csv("yelp-normalization/out/reviews_0.01.csv")
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,09qxjFi4abaW66JeSLazuQ,mbdtyUUzZZx5ld1Qc4iGtQ,wkzWdo1mBqbzR2KPoXtWZw,4.0,1,0,0,Was a Chicago style deep dish. Homemade type ...,2010-08-21 01:19:17
1,-cRD6URpwks2GvP6qy8x4Q,6UR0kNe3C-ivlF2x1fPHNQ,WUmosjOxt_8nWByHgm8Kkg,5.0,0,0,0,Who knew?\n \nI did! \n\nI remember eating man...,2011-01-08 23:13:25
2,xFjo0v7PmYWZRI3tK2WPuA,jqEbD-d5iI5nrwhfMmX_5w,8OeHn9KCbICuRBs_XiDDUA,4.0,1,0,0,Happy to give a strong recommendation to this ...,2013-06-24 04:49:52
3,641ca8i5v5RZK9IngojV2Q,xFSLb_pxXta5G4oaRB1ylQ,TspQ9jCczz436RiJHJQYZw,5.0,4,3,3,Hands down the BEST kabobs in Vegas. \n\nI sto...,2016-03-06 23:58:31
4,Wj2scpb-B5i58fZbyzpE5A,UER4m0CBVgcFlVbMqhCvCg,upSPwM6Fr6RHAhwagnleow,5.0,18,8,12,I normally don't bother with dealing health st...,2012-03-30 00:46:54

In [33]:
def upsertReviews(row):
    attributes = {
        "Stars": row["stars"],
        "Useful": row["useful"],
        "Funny": row["funny"],
        "Cool": row["cool"],
        "Text": row["text"],
        "DateOfReview": row["date"],
        "Testing": trainOrTest()
    }
    conn.upsertVertex("Review", row["review_id"], attributes)
    conn.upsertEdge("User", row["user_id"], "userReview", "Review", row["review_id"])
    conn.upsertEdge("Review", row["review_id"], "reviewOfBusiness", "Business", row["business_id"])
    conn.upsertEdge("User", row["user_id"], "userVisited", "Business", row["business_id"])

In [34]:
reviews.apply(lambda row: upsertReviews(row), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
6906    None
6907    None
6908    None
6909    None
6910    None
Length: 6911, dtype: object

In [35]:
friendships = pd.read_csv("yelp-normalization/out/friendships_0.01.csv")
friendships = friendships.sample(frac=0.025)
friendships.head()

                       user_id               friend_id
104765  PeLGa5vUR8_mcsn-fn42Jg  hg4AyAMgmQGO2tx6kjo8yw
102623  JxbOYBzGdRhI1Ip9-chmkg  _WSEZA4e9KyxF1UBkf7HOw
18828   2Dzdq8nmh_47A5BD9hMfHA  4u8zZaT5m7nO1WazdKA2sw
59214   c-Dja5bexzEWBufNsHfRrQ  QDS740brOYC9Gj8oNeR6_w
295526  gIWzYF7HQ8FPhPZ8e1xhuA  IGijFPOLaeIx1xVLPde7Nw

In [36]:
friendships.shape

(8981, 2)

In [37]:
def upsertFriendships(row):
    conn.upsertEdge("User", row["user_id"], "friendsWith", "User", row["friend_id"])

In [38]:
friendships.apply(lambda row: upsertFriendships(row), axis=1)

104765    None
102623    None
18828     None
59214     None
295526    None
          ...
202073    None
323292    None
269690    None
46660     None
349068    None
Length: 8981, dtype: object